/** Configured For Applets **/

configuration {
    show-icons:         true;
    icon-theme:         "Papirus";
    cycle:              false;
    hide-scrollbar:     false;
    disable-history:    false;
    modi:               "drun";
    display-drun:       "apps";
}
